db_files
.DS_Store
/gen/
/bin/
build.properties
local.properties
.settings/*
*.iml
*.orig
.idea/*
obj/*
out/*
build/*
.gradle/*
proguard/*
libs/android-support-v4.jar.properties
/project.properties
/gradle/
/gradlew
/gradlew.bat
/build/
/captures/
/bug/
